language: java

cache:
  directories:
    - $HOME/.m2

jdk:
  - openjdk8
  - openjdk11

before_install:
  - java -version
  - mvn --version

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
