name: Build the plugin

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [8, 11, 17]

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v2.5.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Version information
      run: |
        java -version
        mvn --version

    - name: Build with Maven
      run: mvn -D"http.keepAlive=false" -D"maven.wagon.http.pool=false" -D"maven.wagon.httpconnectionManager.ttlSeconds=120" -DskipTests=true -B -V clean package
